{% extends "core/base.html" %}

{% load i18n %}

{% block content %}
<section class="hero-section">

    <div class="container">
        <div class="col-lg-8">
            {% if messages %}
            {% for message in messages %}
                <div class='alert alert-{{message.tags}}'>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <h2>{% trans "Account Inactive" %}</h2>

        <p>{% trans "This account is inactive." %}</p>
    </div>
</section>
{% endblock %}
