{% extends "core/base.html" %}

{% load i18n %}
{% load account %}


{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="col-lg-8">
            {% if messages %}
            {% for message in messages %}
                <div class='alert alert-{{message.tags}}'>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <h2>{% trans "Confirm E-mail Address" %}</h2>

        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for {{ user_display }}.{% endblocktrans %}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button class="site-btn sb-gradients" type="submit">{% trans 'Confirm' %}</button>
        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

        {% endif %}

    </div>
</section>
{% endblock %}
