{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<section class="hero-section">

  <div class="container">
    <div class="col-lg-8">
      {% if messages %}
      {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
    </div>
    <h2>{% trans "Log In" %}</h2>
    <br>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <br>
      <div class="g-recaptcha" data-sitekey="6LcM--MUAAAAADXjEgr0mRQjRbetP-mG_ERz352z"></div>
      <br>
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <br>
      <br>
      <button class="site-btn sb-gradients" type="submit">{% trans "Sign In" %}</button>
    </form>
    <br>
    <p>New to EscrowLite? <a class="button secondaryAction" href="{% url 'account_signup' %}">Sign up here </a></p>
  </div>
</section>

{% endblock %}
