{% extends "core/base.html" %}

{% load i18n %}

{% block content %}
<section class="hero-section">

  <div class="container">
    <div class="col-lg-8">
      {% if messages %}
      {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
    </div>
    <h2>{% trans "Sign Out" %}</h2>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="site-btn sb-gradients" type="submit">{% trans 'Sign Out' %}</button>
    </form>

  </div>
</section>

{% endblock %}
