{% extends "core/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="hero-section">

    <div class="container">

        <div class="col-lg-8">
        {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{message.tags}}'>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        </div>
        <h2>{% trans "Password Reset" %}</h2>
        
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

    </div>
</section>
{% endblock %}
