{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="hero-section">
  <div class="container">
        <div class="col-lg-8">
        {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{message.tags}}'>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        </div>
        <h2>{% trans "Change Password" %}</h2>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="site-btn sb-gradients" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</section>
{% endblock %}
