{% extends "core/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="hero-section">

    <div class="container">
        <div class="col-lg-8">
        {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{message.tags}}'>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        </div>
        <h2>{% trans "Change Password" %}</h2>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
</section>
{% endblock %}
