{% extends "core/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<section class="hero-section">

    <div class="container">
        <div class="col-lg-8">
        {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{message.tags}}'>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        </div>
        <h2>{% trans "Sign Up Closed" %}</h2>

        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
</section>
{% endblock %}
