{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %


{% block content %}

<section class="hero-section">

  <div class="container">
    <div class="col-lg-8">
    {% if messages %}
    {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>
        {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    </div>
    <h2>Sign Up</h2>
    <br>
    <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

    <form class="signup service-box" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% comment %} <div class="form-group app-label">
          {{ form.label_tag }}
          <div name="email" id="email" class="service-box">
              {{ form|crispy }}
          </div>
      </div> {% endcomment %}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <br>
      <button class="site-btn sb-gradients" type="submit">Sign Up &raquo;</button>
    </form>
  </div>
</section>

{% endblock %}
