{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>EscrowLite</title>
	<meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="{% url 'core:index' %}" class="site-logo">
				<img src="{% static 'core/img/escrow1.png' %}" alt="">
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
			{% if user.is_authenticated %}
			<a href="{% url 'account_logout' %}" class="site-btn btn-info">Log Out</a>
			<a href="{% url 'account_email' %}" class="site-btn">Buy bitcoins</a>
			<a href="{% url 'account_email' %}" class="site-btn">Sell bitcoins</a>
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="{% url 'core:contact' %}">Help</a></li>
				</ul>
			</nav>
			{% else %}
			<a href="{% url 'account_signup' %}" class="site-btn btn-info">Sign Up Free</a>
			<a href="{% url 'account_login' %}" class="site-btn">Log In</a>
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="{% url 'core:index' %}">Home</a></li>
					<li><a href="{% url 'core:about' %}">About</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="{% url 'core:contact' %}">Contact</a></li>
				</ul>
			</nav>
			{% endif %}
		</div>
	</header>
	
	{% block content %}
	{% endblock content %}

	<!-- Newsletter section -->
	<section class="newsletter-section gradient-bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-lg-7 newsletter-text">
					<h2>Subscribe to our Newsletter</h2>
					<p>Sign up for our weekly industry updates, insider perspectives and in-depth market analysis.</p>
				</div>
				<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
					<form class="newsletter-form">
						<input type="text" placeholder="Enter your email">
						<button>Get Started</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->


	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="footer-bottom">
				<div class="row">
					<div class="col-md-6 col-lg-3 footer-widget">
						<img src="{% static 'core/img/logo.png' %}" class="mb-4" alt="">
						<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> EscrowLite | All rights reserved 
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
					</div>
					<div class="col-lg-8 text-center text-lg-right">
						<ul class="footer-nav">
							<li><a href="{% url 'core:terms' %}">Terms of Use</a></li>
							<li><a href="{% url 'core:terms' %}">Privacy Policy </a></li>
							<li><a href="">support@company.com</a></li>
							<li><a href="">(123) 456-7890</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!--====== Javascripts & Jquery ======-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'core/assets/js/jquery.payform.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'core/assets/js/script.js' %}"></script>
	<script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'core/js/owl.carousel.min.js' %}"></script>

</body>
</html>
