
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

<body>

<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <h2>Escrow Lite Trade</h2>
        <hr>
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
      <ul>
        <h4>Active Users</h4>
        <hr>
        {% for user in Usernames %}
        <li class="contact">
          <div class="wrap">
            <!-- {% comment %} <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" /> {% endcomment %} -->
            <div class="meta">
              <span class="contact-status online"></span>
              <p class="name" id="active_user">{{ user }}</p>
              <!-- {% comment %} <p class="preview">You just got LITT up, Mike.</p> {% endcomment %} -->
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="bottom-bar">
      <a href="#" id="paid_trade" onclick="ConfirmPayment()"><button><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i><span> Mark As Paid</span></button></a>
      <a href="#" id="cancel_trade" onclick="CancelTrade()"><button class="btn-light"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span> Cancel Trade</span></button></a>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile text-center">
      <h4>Buying <b>{{ room.btc_price }}</b> BTC for <b>{{ room.purchase_price }}</b> {{ room.currency }} @ <b>{{ room.rate }}</b> {{ room.currency }}/BTC</h4> {% endcomment %}
      <h4>Method: {{ room.method }} <b></b> </h4>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-left">
          <p><b>Instructions & Terms : {{ room.terms }}</b></p>
          <div class="social-media">  
             <h7>Dispute in <button id="dispute" onclick="" class="site-btn btn-danger"><span id="time">05:00</span></button></h7>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div id="status" class="jumbotron bg-secondary p-1">
            <h4><b id="confirmationText">Awaiting Payment Confirmation</b></h4>
          </div>
        </div>
      </div>

    </div>
    <div class="messages">
      <ul id="chat-log">
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input id="chat-message-input" name="message" type="text" placeholder="Write your message..." />
        
        <!-- <a onclick='SwitchToImage()'>Upload</a> -->
          
        <input type="file" name="id_image" enctype="multipart/form-data" id="id_image">
        <button id="chat-message-submit" type="submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>

      </div>
    </div>
  </div>
</div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};
    var users = {{ users }};

    var notNewUser = users.includes(String(username));

    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            window.minutesLeft = minutes;
            window.secondsLeft = seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }


    // {% comment %} window.onload = function () {
    //     var Minutes = 60 * Integer(window.minutesLeft),
    //         display = document.querySelector('#time');
    //     startTimer(Minutes, display);
    // }; {% endcomment %}

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function(e) {
      if (notNewUser === true) {
        fetchMessages();
      } else {
        // joinChat();
        users.push(String(username));
        fetchMessages();
      };
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data);

        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        };
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var imageInputDom = document.getElementById('id_image');
        console.log(imageInputDom.value)

        if (imageInputDom.value === "") {
          var image = null;
        } else {
          var image = URL.createObjectURL(imageInputDom.files[0]);
        }
        
        console.log(image)
        var message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'image' : image,
            'from': username,
            'room': roomName,
            'min-timer' : window.minutesLeft,
            'sec-timer' : window.secondsLeft,
        }));

        messageInputDom.value = '';
        imageInputDom.value = '';
        window.scrollTo(0, document.body.scrollHeight);

        var Minutes = 60 * {{ room.time }};
        
        display = document.querySelector('#time');
        display.value = '';
        startTimer(Minutes, display);
    };

    function fetchMessages() {
      chatSocket.send(JSON.stringify({
        'command': 'fetch_messages',
        'room': roomName,
        'min-timer': window.minutesLeft,
        }));


        var Minutes = 60 * {{ room.time }};
        
        display = document.querySelector('#time');
        startTimer(Minutes, display);
    }

    // function joinChat() {
    //   chatSocket.send(JSON.stringify({
    //     'command': 'chat_join',
    //     'from': username,
    //     'room': roomName,
    //   }));
      
    // }

    function createMessage(data) {
      var author = data['author'];

      var uploadedContent = document.createElement('img');
      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var pTag = document.createElement('p');

      console.log('My object: ', data);
      pTag.textContent = data.message;
      imgTag.src = 'http://emilcarlsson.se/assets/mikeross.png';
      

      uploadedContent.style.height = '300px';
      uploadedContent.style.width = '300px';
      uploadedContent.style.borderRadius = '10px';
      uploadedContent.src = data['image'];
      
      if (author === username) {
        msgListTag.className = 'replies';
      } else {
        msgListTag.className = 'sent';
      }

      if (data['image'] === "") {

        msgListTag.appendChild(imgTag);
        msgListTag.appendChild(pTag);
        document.querySelector('#chat-log').appendChild(msgListTag);
      
      } else {
        msgListTag.appendChild(imgTag);
        msgListTag.appendChild(pTag);
        msgListTag.appendChild(uploadedContent);
        document.querySelector('#chat-log').appendChild(msgListTag);

      }

    }

    function ConfirmPayment(){
      var pay = document.querySelector('#confirmationText');
      var stat = document.querySelector('#status');
      
      if (String(users[0]) == String(username)) {

        if (confirm('Are you sure you want to confirm payment?')) {
                // Action
          pay.textContent = "Payment Confirmed";
          stat.className = "jumbotron bg-primary p-1";
        } else {
                  // Do nothing!
          console.log('Thing was not saved to the database.');
        };

      } else {

        alert('You are not authorized to make that decision.');
      };

    }

    if (window.minutesLeft === 0) {
      // Chnage The button to dispute
      var time = document.querySelector("#time");
      var dispute = document.querySelector("#dispute");

      time.textContent = "Open Dispute";
      dispute.onclick = "ViewPage()";
    }

    function ViewPage() {
      window.location='www.escrowlite.org/contact/';
    }

    function CancelTrade() {
      if (confirm('Are you sure you want to cancel the trade?')) {
        // Save it!
        console.log('Trading is closing right away!');
        
        var button = document.querySelector('#cancel_trade');
        button.href = "{% url 'core:index' %}";
        button.click()
      } else {
        // Do nothing!
        console.log('Thing was not saved to the database.');
      };
    }

    function LeaveRoom() {
      window.location='www.escrowlite.org'
    }

</script>
</body>

</html>