{% extends "core/index.html" %}
{% load static %}

{% block info %}


<div class="col-lg-12">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <h3><b>Available Bitcoin Buyers ({{ currency }})</b></h3>
                    <br>
                    <thead>
                        <tr>
                            <th>Buyer</th>
                            <th>Payment Method</th>
                            <th>Price / BTC</th>
                            <th>Limits</th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for buyer in data %}
                        <tr>
                            <td>
                                {{ buyer.name }}
                                {% if buyer.is_online == True %}
                                    <img src="https://img.icons8.com/color/12/000000/ok--v1.png"/>
                                {% else %}
                                    <img src="https://img.icons8.com/material-two-tone/12/000000/ok.png"/>
                                {% endif %}
                            </td>
                            <td>{{ buyer.method }}: {{ buyer.terms }}</td>
                            <td>{{ buyer.rate }} {{ buyer.currency }}</td>
                            <td>{{ buyer.min_btc }} to {{ buyer.max_btc }} BTC</td>
                            <td><a href="{% url 'trade:buyer_detail' buyer.pk %}" ><button class="btn btn-secondary">Sell</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <a href="{% url 'core:sell_request' %}"><button class="site-btn sb-gradients">Create Custom Sell Request</button></a>
            <br>
            <hr>
            <br>
            <p><a href="{% url 'trade:top_buy' %}"><button class="site-btn sb-gradients">Top Buyers List</button></a></p>
        </div>
    </div>
</div>

{% endblock info %}