{% extends 'core/base.html' %}
{% load static %}

{% block content %}
	<!-- Page info section -->
	<section class="page-info-section">
	</section>
	<!-- Page info end -->



	<!-- Contact section -->
	<section class="contact-page spad">
        <div class="container jumbotron">
            <div class="row">
                <div class="col-lg-10">
                    <h3 class="text-center"><b>Create A New Chat Window For Trade</b></h3>
                    <hr>
                    <br>
                    <form action="." method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <br>
                        <button type="submit" class="site-btn btn-secondary sb-gradients">Start Escrow</button>
                    </form>
                </div>
            </div>
        </div>
	</section>
	<!-- Contact section end -->

    <script type="text/javascript">
        function CalculateByRateFromBtc() {
            var amount = document.getElementById("id_amount").value;
            var value = {{ object.rate }};

            var result = amount * value;

            document.getElementById("id_currency_value").value = result;
            };

        function CalculateByRateFromCurrency() {
            var amount = document.querySelector("#id_currency_value").value;
            var value = {{ object.rate }};

            var result = amount / value;

            document.querySelector("#id_amount").value = result;
            }
    </script>

{% endblock %}