{% extends "core/index.html" %}
{% load static %}

{% block info %}


<div class="col-lg-12">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <h3><b>Available Bitcoin Sellers ({{ currency }})</b></h3>
                    <br>
                    <thead>
                        <tr>
                            <th>Seller</th>
                            <th>Payment Method</th>
                            <th>Price / BTC</th>
                            <th>Limits</th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seller in data %}
                        <tr>
                            <td>
                                {{ seller.name }}
                                {% if seller.is_online == True %}
                                    <img src="https://img.icons8.com/color/12/000000/ok--v1.png"/>
                                {% else %}
                                    <img src="https://img.icons8.com/material-two-tone/12/000000/ok.png"/>
                                {% endif %}
                            </td>
                            <td>{{ seller.method }}: {{ seller.terms }}</td>
                            <td>{{ seller.rate }} {{ seller.currency }}</td>
                            <td>{{ seller.min_btc }} to {{ seller.max_btc }} BTC</td>
                            <td><a href="{% url 'trade:seller_detail' seller.pk %}" ><button class="btn btn-secondary">Buy</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <a href="{% url 'core:buy_request' %}"><button class="site-btn sb-gradients">Create Custom Buy Request</button></a>
            <br>
            <hr>
            <br>
            <p><a href="{% url 'trade:top_sell' %}"><button class="site-btn sb-gradients">Top Sellers List</button></a></p>
        </div>
    </div>
</div>

{% endblock info %}