{% extends 'core/base.html' %}
{% load static %}

{% block content %}
	<!-- Page info section -->
	<section class="page-info-section">
	</section>
	<!-- Page info end -->



	<!-- Contact section -->
	<section class="contact-page spad">
        <div class="container jumbotron">
            <div class="row">
                <div class="col-lg-12">
                    <h3><b>Buy Bitcoins From {{ object.user }} with {{ object.currency }}</b></h3>
                    <p>EscrowLite user {{ object.user }} want to sell bitcoin to you</p>
                    <div class="container">
                        <hr>
                        <h4><b>Price: </b> {{ object.rate }}{{ object.currency }}/BTC</h4>
                        <br>
                        <h4><b>Payment Method: </b> {{ object.method }}</h4>
                        <br>
                        <h4>
                            <b>User:   </b>
                            <img src="https://img.icons8.com/android/14/000000/user.png"/>
                            {{ object.name }}
                            {% if object.is_online == True %}
                                <img src="https://img.icons8.com/color/12/000000/ok--v1.png"/>
                            {% else %}
                                <img src="https://img.icons8.com/material-two-tone/12/000000/ok.png"/>
                            {% endif %}
                        </h4>
                        <br>
                        <h4><b>Trade Limits:  </b> {{ object.min_btc }} to {{ object.max_btc }} BTC</h4>
                        <br>
                        <h4><b>Payment Window:  </b> {{ object.timer }} minutes</h4>
                        <br>
                        <br>
                        <div class="jumbotron bg-light p-2">
                            <h4><b>Terms & Conditions of Trade :</b></h4>
                            <br>
                            <ul>
                                <li><h5>{{ object.terms }}</h5></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <hr>
                {% if user.is_authenticated %}
                <hr>
                <br>
                <div class="col-lg-12">
                    <h4><b>How much bitcoin do you wish to buy?</b></h4>
                    <hr>
                    <div class="col-lg-10 container p-4">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroupPrepend">BTC</span>
                                    </div>
                                    {{ form.amount }}
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroupPrepend">{{ object.currency }}</span>
                                    </div>
                                    {{ form.currency_value }}
                                    <br>
                                    <hr>
                                    <p></p>
                                </div>
                                <br>
                                <br>
                            </div>
                            <button class="site-btn sb-gradients">Proceed</button>
                        </form>
                    </div>
                </div>
                
                {% else %}
                <a href="{% url 'account_login' %}">
                    <button class="site-btn sb-gradients">Sign Up For Free</button>
                </a>
                <p>You have to be signed in to be able to initiate a trade</p>
                {% endif %}
                <br>
            </div>
            <br>
            <p>Happy Trading !!</p>
        </div>
	</section>
	<!-- Contact section end -->

    <script type="text/javascript">
        function CalculateByRateFromBtc() {
            var amount = document.getElementById("id_amount").value;
            var value = {{ object.rate }};

            var result = amount * value;

            document.getElementById("id_currency_value").value = result;
            };

        function CalculateByRateFromCurrency() {
            var amount = document.querySelector("#id_currency_value").value;
            var value = {{ object.rate }};

            var result = amount / value;

            document.querySelector("#id_amount").value = result;
            }
    </script>

{% endblock %}