{% extends 'core/base.html' %}
{% load static %}

{% block content %}
	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<div class="site-beradcamb">
				<a href="{% url 'core:index' %}">Home</a>
				<span><i class="fa fa-angle-right"></i> Best Buyers</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->



	<!-- Contact section -->
	<section class="contact-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <h3 class="text-center"><b>Top Bitcoin Buyers</b></h3>
                        <br>
                        <thead>
                            <tr>
                                <th>Buyer</th>
                                <th>Payment Method</th>
                                <th>Price / BTC</th>
                                <th>Limits</th>
                                <th>  </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for buyer in data %}
                            <tr>
                                <td>{{ buyer.name }}</td>
                                <td>{{ buyer.method }}: {{ buyer.terms }}</td>
                                <td>{{ buyer.rate }} {{ buyer.currency }}</td>
                                <td>{{ buyer.min_btc }} to {{ buyer.max_btc }} BTC</td>
                                <td><a href="{% url 'trade:buyer_detail' buyer.pk %}" ><button class="btn btn-secondary">Sell</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</section>
	<!-- Contact section end -->

{% endblock %}