{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!-- Page info section -->
<section class="page-info-section">
	<div class="container">
		<h2>About Us</h2>
		<div class="site-beradcamb">
			<a href="">Home</a>
			<span><i class="fa fa-angle-right"></i> About Us</span>
		</div>
	</div>
</section>
<!-- Page info end -->


<!-- About section -->
<section class="about-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 about-text">
				<h2><b>About EscrowLite</b></h2>
				<h5>We Are The Fastest And Most Trusted Crypto Currency Trading Platform</h5>
				<p>EscrowLite is an innovative escrow network aimed at making trading of cryptocurrency swift with cheap transaction rates, maximum security and actively available support to all traders at all hours of the day. </p>
				<p>With this amazing escrow platform, anyone can send or receive any amount of money with anyone else, anywhere on the planet, conveniently and without restriction. It’s the dawn of a better, more free world.</p>
				<a href="{% url 'account_login' %}" class="site-btn sb-gradients sbg-line mt-5">Get Started</a>
			</div>
		</div>
		<div class="about-img">
			<img src="{% static 'core/img/about-img.png' %}" alt="">
		</div>
	</div>
</section>
<!-- About section end -->


<!-- Fact section -->
<section class="fact-section gradient-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-3">
				<div class="fact">
					<h2>60</h2>
					<p>Support <br> Countries</p>
					<i class="ti-basketball"></i>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3">
				<div class="fact">
					<h2>12K</h2>
					<p>Transactions  <br> per hour</p>
					<i class="ti-panel"></i>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3">
				<div class="fact">
					<h2>5B</h2>
					<p>Largest <br> Transactions</p>
					<i class="ti-stats-up"></i>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3">
				<div class="fact">
					<h2>240</h2>
					<p>Years <br> of Experience</p>
					<i class="ti-user"></i>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Fact section end -->

{% comment %} 
<!-- Review section -->
<section class="review-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 push-8">
				<img src="{% static 'core/img/quote.png' %}" alt="" class="quote mb-5">
				<div class="review-text-slider owl-carousel">
					<div class="review-text">
						<p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you don’t have to be physically in the same place and, of course, for large transactions, currency can get pretty inconvenient.”</p>
					</div>
					<div class="review-text">
						<p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you don’t have to be physically in the same place and, of course, for large transactions, currency can get pretty inconvenient.”</p>
					</div>
					<div class="review-text">
						<p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you don’t have to be physically in the same place and, of course, for large transactions, currency can get pretty inconvenient.”</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 pr-0 pull-3">
				<div class="review-meta-slider owl-carousel pt-5">
					<div class="author-meta">
						<div class="author-avatar set-bg" data-setbg="{% static 'img/review/1.jpg' %}"></div>
						<div class="author-name">
							<h4>Aaron Ballance</h4>
							<p>Ceo Bitcoin</p>
						</div>
					</div>
					<div class="author-meta">
						<div class="author-avatar set-bg" data-setbg="{% static 'img/review/2.jpg' %}"></div>
						<div class="author-name">
							<h4>Jackson Nash</h4>
							<p>Head of Design</p>
						</div>
					</div>
					<div class="author-meta">
						<div class="author-avatar set-bg" data-setbg="{% static 'img/review/3.jpg' %}"></div>
						<div class="author-name">
							<h4>Katy Abrams</h4>
							<p>Product Manager</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Review section end --> {% endcomment %}

{% endblock %}

