{% extends 'core/index.html' %}
{% load static %}

{% block info %}

<div class="col-lg-8">

	<div class="container">
    	<div class="bg-light jumbotron">
	        <div class="creditCardForm">
	            <div class="heading">
	                <h3>Confirm Purchase</h3>
	            </div>
	            <div class="payment">
	                <form method="POST" action="{% url 'core:add_bank' %}">
                        {% csrf_token %}
	                    <div class="form-row">
	                        <label>Bank Country</label>
	                        {{ form.country }}
						</div>
						<br>
	                    <div class="form-row">
	                        <label for="bank name">Bank Name</label>
	                        {{ form.bank_name }}
	                    </div>
						<br>
						<div class="form-row">
	                        <label for="acc name">Account Name</label>
                            {{ form.acc_name }}
						</div>
						<br>
	                    <div class="form-row">
	                        <label for="acc number">Account Number</label>
                            {{ form.acc_number }}
						</div>
						<br>
	                    <div class="form-row">
	                        <label for="ifsc code">IFSC Code</label>
                            {{ form.ifsc_code }}
						</div>
						<br>
	                    <div class="form-row" id="card-number-field">
	                        <p><input type="radio" id="Confirmation" value=''> I confirm the bank details above to be correct</p>
						</div>
	                    <div class="form-row">
	                        <button type="submit" class="site-btn sb-gradients">Submit</button>
	                    </div>
	                </form>
	            </div>
        	</div>
        </div>
	</div>
</div>

{% endblock info %}