{% extends 'core/index.html' %}
{% load static %}

{% block info %}

<div class="col-lg-8">

	<div class="container">
		<div class="bg-light jumbotron">
			<div class="creditCardForm">
				<div class="heading">
					<h3><b>Card Details</b></h3>
				</div>
				<div class="payment">
					<form method="POST" action="{% url 'core:add_card' %}">
						{% csrf_token %}
						<div class="form-row">
							<label for="cvv">Card Owner Name</label>
							{{ form.account_name }}
						</div>
						<br>
						<div class="form-row">
							<label for="cvv">CVV</label>
							{{ form.cvv }}
						</div>
						<br>
						<div class="form-row">
							<label for="cardNumber">Card Number</label>
							{{ form.card_number }}
						</div>
						<br>
						<div class="form-group" id="expiration-date">
							<label>Expiration Date</label>
							<div>
								<label for="">Month</label>
								{{ form.expiry_month }}
							</div>
							<div>
								<label for="">Day</label>
								{{ form.expiry_day }}
							</div>
						</div>
						<div class="form-row col-lg-6">
							<label for="cardNumber">Pin Code</label>
							{{ form.pin }}
						</div>
						<div class="form-row" id="credit_cards">
							<img src="{% static 'core/assets/images/visa.jpg' %}" id="visa">
							<img src="{% static 'core/assets/images/mastercard.jpg' %}" id="mastercard">
							<img src="{% static 'core/assets/images/amex.jpg' %}" id="amex">
						</div>
						<div class="form-row" id='pay-now'>
							<button type="submit" class="site-btn sb-gradients" id="confirm-purchase">Confirm</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock info %}