{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>EscrowLite</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cryptocurrency Landing Page Template">
	<meta name="keywords" content="cryptocurrency, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'core/img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css/themify-icons.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css/animate.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}"/>

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="{% url 'core:index' %}" class="site-logo">
				<img src="{% static 'core/img/escrowlite.jpg' %}" alt="">
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
			{% if user.is_authenticated %}
			<a href="{% url 'account_logout' %}" class="site-btn btn-info">Log Out</a>
			<a href="{% url 'trade:sell' %}" class="site-btn">Buy bitcoins</a>
			<a href="{% url 'trade:buy' %}" class="site-btn">Sell bitcoins</a>
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="{% url 'core:contact' %}">Help</a></li>
				</ul>
			</nav>
			{% else %}
			<a href="{% url 'account_signup' %}" class="site-btn btn-info">Sign Up Free</a>
			<a href="{% url 'account_login' %}" class="site-btn">Log In</a>
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="{% url 'core:index' %}">Home</a></li>
					<li><a href="{% url 'core:about' %}">About</a></li>
					<li><a href="{% url 'core:faq' %}">FAQ</a></li>
					<li><a href="{% url 'core:contact' %}">Contact</a></li>
				</ul>
			</nav>
			{% endif %}
		</div>
	</header>
	
	{% block content %}
	{% endblock content %}

	<!-- Newsletter section -->
	<section class="newsletter-section gradient-bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-lg-7 newsletter-text">
					<h2>Subscribe to our Newsletter</h2>
					<p>Sign up for our weekly industry updates, insider perspectives and in-depth market analysis.</p>
				</div>
				<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
					<form class="newsletter-form">
						<input type="text" placeholder="Enter your email">
						<button>Get Started</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->


	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="footer-bottom">
				<div class="row">
					<div class="col-md-6 col-lg-3 footer-widget">
						<img src="{% static 'core/img/escrow.png' %}" class="mb-4" alt="">
						<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> EscrowLite | All rights reserved 
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
					</div>
					<div class="col-lg-8 text-center text-lg-right">
						<ul class="footer-nav">
							<li><a href="{% url 'core:terms' %}">Terms of Use</a></li>
							<li><a href="{% url 'core:terms' %}">Privacy Policy </a></li>
							<li><a href="">support@escrowlite.org</a></li>
							<li><a href="">(510) 747-8768</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!--====== Javascripts & Jquery ======-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'core/assets/js/jquery.payform.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'core/assets/js/script.js' %}"></script>
	<script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>
