{% extends 'core/index.html' %}
{% load static %}

{% block info %}

<div class="col-lg-8">
	<div class="container">
    	<div class="bg-light jumbotron">
	        <div class="creditCardForm">
	            <div class="heading">
	                <h3><b>Create New Buy Request</b></h3>
	            </div>
	            <div class="payment">
	                <form method="POST" action="{% url 'core:buy_request' %}">
                        {% csrf_token %}
                        <h4>Payment Preference</h4>
                        <hr>
	                    <div class="form-row">
	                        <label>Payment Method</label>
	                        {{ form.method }}
						</div>
						<br>
	                    <div class="form-row">
	                        <label>Country</label>
	                        {{ form.country }}
                        </div>
                        <hr>
                        <h5>% Above current rate, use -ve value to sell below rate ( 1 BTC is {{ price }} {{ currency }} )</h5>
						<hr>
						<br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><img src="https://img.icons8.com/ultraviolet/20/000000/bitcoin.png"></span>
                            </div>

                            <input type="text" class="form-control" id="Amount" placeholder="0.000" aria-describedby="inputGroupPrepend">
                            
                            <div class="input-group-append">
                            <span class="input-group-text" id="inputGroupAppend">BTC</span>
                            </div>
						</div>
						<br>
						<div class="form-row">
                            <label>Your rate would be</label>
                            {{ form.rate }}
						</div>
						<br>
	                    <div class="form-row">
							<label>Limit to Buy (BTC)</label>
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroupAppend">Min</span>
								{{ form.minimum }}
							</div>
							<div class="input-group-append">
								<span class="input-group-text" id="inputGroupAppend">Max</span>
								{{ form.maximum }}
							</div>
						</div>
						<br>
	                    <div class="form-row">
	                        <label>Instructions & terms</label>
                            {{ form.terms }}
						</div>
						<br>
                        <div class="form-row">
                            <label>Payment Window Timer (In minutes)</label>
                            {{ form.timer }}
						</div>
						<br>
                        <label>What is your preferred means to pay the seller?</label>
						<div class="form-row">
							<label></label>
							{{ form.user_accounts }}
						</div>
						<br>
                        
						<!-- <br>
	                    <div class="form-row" id="card-number-field">
	                        <p><input type="radio" id="Confirmation" value=''> I confirm the bank details above to be correct</p>
						</div> -->
						<hr>
	                    <div class="form-row">
	                        <button type="submit" class="site-btn sb-gradients">Submit</button>
	                    </div>
	                </form>
	            </div>
        	</div>
        </div>
	</div>
</div>

{% endblock info %}
