{% extends "core/index.html" %}
{% load static %}

{% block info %}


<div class="col-lg-8">

  <div class="container">

  	<!-- Cards Information -->
    <div class="bg-light jumbotron creditCardForm">
      <div class="heading" role="status">
        <h3><b>Debit/Credit Cards</b></h3>
      </div>
      <br>
      <div class="row">
        {% for card in cards %}
        <div class="bg-dark jumbotron col-lg-3 p-3 m-2">
          <a href="#"><div role="button" class="text-left">
            <img src="https://img.icons8.com/ios/25/000000/bank-card-back-side.png"/>
            <p><a>{{ card.expiry_day }}/{{ card.expiry_month }}</a></p>
            <p><b>{{ card.account_name }}</b></p>
            <a href="{% url 'core:delete_card' card.id %}"><img src="https://img.icons8.com/metro/20/000000/full-trash.png"/></a>
          </div></a>

        </div>
        {% endfor %}
        <div class="bg-secondary jumbotron col-lg-3 p-3 m-2">
          <a href="{% url 'core:add_card' %}"><div role="button" class="text-center">
            <img src="https://img.icons8.com/ios-glyphs/25/000000/add.png">
            <h4>Add New Card</h4>
          </div></a>
        </div>
      </div>
    </div>
  	<!-- Cards Information -->
  </div>

  <br>

  <div class="container">
 	  <!-- Banks Inforamtion-->
    <div class="bg-light jumbotron creditCardForm">
      <div class="heading" role="status">
        <h3><b>Bank Accounts</b></h3>
      </div>
      <br>
      <div class="row">
        {% for bank in banks %}
        <div class="bg-dark jumbotron col-lg-3 p-3 m-2">
          <a href="#"><div role="button" class="text-left">
            <img src="https://img.icons8.com/ios/25/000000/bank-building.png"/>
            <p><b>{{ bank.bank_name }} Account</b></p>
          </div></a>
          <a href="{% url 'core:delete_bank' bank.id %}"><img src="https://img.icons8.com/metro/20/000000/full-trash.png"/></a>
        </div>
        {% endfor %}
        <div class="bg-secondary jumbotron col-lg-3 p-3 m-2">
          <a href="{% url 'core:add_bank' %}"><div role="button" class="text-center">
            <img src="https://img.icons8.com/ios-glyphs/25/000000/add.png">
            <h4>Add New Account</h4>
          </div></a>
        </div>
      </div>
    </div>
    <!-- Banks Information -->


  </div>
</div>


<div class="col-lg-3">
  <div class="container">
    <div class="jumbotron bg-light text-center">
      <figure class="process-icon">
        <img src="{% static 'core/img/process-icons/1.png' %}" alt="#">
        <br>
        <br>
        <h3>{{ currency_balance }} <span>{{ currency }}</span></h3>
        <p><img src="https://img.icons8.com/color/30/000000/bitcoin--v1.png"> {{ balance }} BTC</p>
      </figure>
    </div>
  </div>
</div>

{% endblock info %}