{% extends 'core/base.html' %}
{% load static %}

{% block content %}
	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>Contact Us</h2>
			<div class="site-beradcamb">
				<a href="">Home</a>
				<span><i class="fa fa-angle-right"></i> Contact us</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->



	<!-- Contact section -->
	<section class="contact-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<form method="POST" action="{% url 'core:contact' %}" class="contact-form">
						<div class="row">
							{% csrf_token %}
							<div class="col-md-6">
								<div class="form-group">
									{{ form.first_name.label_tag }}
									<div class="check-form" type="text" placeholder="First Name*:">
										{{ form.first_name }}
									</div>
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form.last_name.label_tag }}
									<div class="check-form" type="text" placeholder="Last Name*:">
										{{ form.last_name }}
									</div>
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form.email.label_tag }}
									<div class="check-form" type="text" placeholder="Email Adress*:">
										{{ form.email }}
									</div>
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form.phone.label_tag }}
									<div class="check-form" type="text" placeholder="Phone Number*:">
										{{ form.phone }}
									</div>
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									{{ form.question.label_tag }}
									<div placeholder="Tell us about your question!">
										{{ form.question }}
									</div>
								</div>
								{% comment %} <h5 class="mb-3">Way to Contacts<span>*</span>:</h5>
								<div class="contact-type">
									<label class="ct-label">Phone
										<input type="radio" name="radio">
										 <span class="checkmark"></span>
									</label>
									<label class="ct-label">Email
										<input type="radio" name="radio">
										 <span class="checkmark"></span>
									</label>
									<label class="ct-label">Other
										<input type="radio" name="radio">
										 <span class="checkmark"></span>
									</label>
								</div> {% endcomment %}

								<button type="submit" id="submit" class="site-btn sb-gradients mt-4">Submit form</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-5 mt-5 mt-lg-0">
					<div class="map" id="map-canvas"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->

	<!-- load for map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="{% static 'core/js/map.js' %}"></script>
{% endblock %}