{% extends 'core/index.html' %}

{% load static %}

{% block info %}
<div class="col-lg-8">
    <div class="container">
        <div class="bg-light jumbotron">
            <form method="post" action=".">
                {% csrf_token %}
                {{ form1 }}
                <hr>
                {{ form2 }}
                <p></p>
                <button tyoe="submit" class="site-btn sb-gradients">Update</button>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="container-fluid">
        <div class="jumbotron p-2">
            <ul>
                <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                <li><a href="{% url 'account_email' %}">Change Email</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}