{% extends "core/index.html" %}
{% load static %}
{% load notifications_tags %}

{% block info %}

<div class="col-lg-10">
    <div class="jumbotron row">
        <div class="col-lg-12">
            <h3>{{ data.verb }}</h3>
            <p class="text-right">{{ data.timesince }} Ago</p>
        </div>
        <br>
        <hr>
        <br>
        <div class="bg-light">
            <h5>{{ data.description }}</h5>
            <p>-- from {{ data.actor }}</p>
        </div>
        {% if each.target %}
        <button>
            <a href="">
                {{ each.target.name }} gOLD
            </a>
        </button>
        {% else %}
        {% endif %}
        <div class="col-lg-4">
            <a href="{% url 'core:delete_notification' data.id %}">
                <img src="https://img.icons8.com/doodle/50/000000/recycle-bin.png"/>
            </a>
        </div>
    </div>
</div>


{% endblock info %}

