{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!-- Page info section -->
<section class="page-info-section">
	<div class="container">
		<h2>FAQ</h2>
		<div class="site-beradcamb">
			<a href="{% url 'core:index' %}">Home</a>
			<span><i class="fa fa-angle-right"></i> FAQ</span>
		</div>
	</div>
</section>
<!-- Page info end -->


<!-- About section -->
<section class="about-section spad">
    <div class="container">
        <h2 class="text-center"><b>Frequently Asked Questions</b></h2>
        <br>
        <div class="jumbotron">
            <ul>
                <li onclick="ShowFunction(0)" id="qut"><h4>I lost my password. How do I get it back?</h4></li>
                <hr>
                <p style="display: none;" id="ans">> Head on to <a href="{% url 'account_reset_password' %}">Password Recovery</a></p>
                <br>

                <li onclick="ShowFunction(1)" id="qut"><h4>How do I withdraw funds from my account?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > You can withdraw funds to your local bank account. Just head on to your <a href="{% url 'core:cards&banks' %}">Linked Accounts</a> page, setup a bank account you would like to receive funds to and select 'Withdraw to Bank' from your <a href="{% url 'core:index' %}">dashboard</a>
                </p>
                <br>

                <li onclick="ShowFunction(2)" id="qut"><h4>How do I link bank account to my account?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > This operation is carried out on <a href="{% url 'core:cards&banks' %}">Linked Accounts</a> page. Ensure to enter valid card and bank information where applicable
                </p>
                <br>

                <li onclick="ShowFunction(3)" id="qut"><h4>How do I confirm the email address on my account?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > Head on to <a href="{% url 'core:settings' %}">Profile Settings</a>, click the 'Change Email Address' link. There you can add or update your primary email accounts and even resent the confirmation link.
                </p>
                <br>

                <li onclick="ShowFunction(4)" id="qut"><h4>How do I receive bitcoin?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > Receiving payment is easy. Go to <a href="{% url 'core:receive' %}">Receive Bitcoin</a> page on dashboard. Copy your receiving address or scan the QR code to receive.
                </p>
                <br>

                <li onclick="ShowFunction(5)" id="qut"><h4>How can I view my transactions history?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > All transactions history are available on the <a href="{% url 'core:transactions' %}">Transactions</a> page.
                </p>
                <br>

                <li onclick="ShowFunction(6)" id="qut"><h4>Where is my refund?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > In event where you are eligible for a refund, it will be made available to your wallet. Refund trasactions are also available on the <a href="{% url 'core:transactions' %}">Transactions</a> page and you will receive an account notificaton informing you of your refund in detail. 
                </p>
                <br>

                <li onclick="ShowFunction(7)" id="qut"><h4>How do I send bitcoin?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > Sending bitcoin is smooth, secure and easy. Head on to <a href="{% url 'core:send' %}">Send Bitcoin</a> page on dashboard.
                </p>
                <br>

                <li onclick="ShowFunction(8)" id="qut"><h4>How do I sell bitcoin?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > Goto <a href="{% url 'trade:sell' %}">Buyers List</a> page, to see available buyers in your local currency or country.
                </p>
                <br>

                <li onclick="ShowFunction(9)" id="qut"><h4>How to buy bitcoin?</h4></li>
                <hr>
                <p style="display: none;" id="ans">
                    > Goto <a href="{% url 'trade:buy' %}">Sellers List</a> page, to see available buyers in your local currency or country.
                </p>
                <br>
            </ul>

        </div>
    </div>
</section>
<!-- About section end -->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
<script>

function ShowFunction(number) {
    var x = document.querySelectorAll("#ans");

    if (x[number].style.display === "none") {
    x[number].style.display = "block";
    } else {
    x[number].style.display = "none";
    };
};
</script>



{% endblock %}

