{% extends 'core/base.html' %}
{% load notifications_tags %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

	<!-- DashBoard section -->
    <section class="page-info-section">
        <div class="container-fluid">
            <h2>Dashboard</h2>
            <div class="site-beradcamb">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                    <a href="{% url 'core:notifications' %}">
                    	<span>
                    		<button type="button" class="btn btn-secondary">
          						<img src="https://img.icons8.com/metro/20/000000/appointment-reminders.png"/>({% live_notify_badge badge_class="badge" %})
          					</button>
          				</span>
                    </a>

                    <a href="{% url 'core:receive' %}">
                    	<span>
                    		<button type="button" class="btn btn-secondary">
          						<img src="https://img.icons8.com/metro/18/000000/down--v1.png"> Receive Bitcoin
          					</button>
          				</span>
                    </a>

                    <a href="{% url 'core:send' %}">
                    	<span>
                    		<button type="button" class="btn btn-secondary">
                    			<img src="https://img.icons8.com/metro/18/000000/up--v1.png"> Send Bitcoin
                    		</button>
                    	</span>
                    </a>

                    <a href="{% url 'core:withdraw' %}">
                    	<span>
                    		<button type="button" class="btn btn-secondary">
                    			<img src="https://img.icons8.com/ios-glyphs/18/000000/bank.png"> Withdraw To Bank
                    		</button>
                    	</span>
                    </a>

                    <a href="{% url 'core:cards&banks' %}">
                    	<span>
                    		<button type="button" class="btn btn-secondary">
                    			<img src="https://img.icons8.com/material/18/000000/insert-card.png"> Cards & Banks
                    		</button>
                    	</span>
                    </a>

                    <a href="{% url 'core:transactions' %}">
                    	<span>
                    		<button type="button" class="btn btn-secondary">
                    			<img src="https://img.icons8.com/material/18/000000/ledger.png"> Transactions
                    		</button>
                    	</span>
                    </a>

                    <a href="{% url 'core:settings' %}">
                    	<span>
                    		<button type="button" class="btn btn-secondary">
                    			<img src="https://img.icons8.com/material-rounded/18/000000/settings.png"> Profile Settings
                    		</button>
                    	</span>
                    </a>

                </div>
            </div>
        </div>
    </section>
    <!-- Page info end -->


    <!-- About section -->
    <section class="about-section spad">
        <div class="container">
			<div class="col-lg-8">
			{% if messages %}
			{% for message in messages %}
				<div class='alert alert-{{message.tags}}'>
				{{ message }}
				Last login was {{ user.last_login }}
				</div>
			{% endfor %}
			{% endif %}
			</div>
            <div class="row">
            	{% block info %}
            	{% endblock info %}
            </div>
        </div>
    </section>

	<!-- DashBoard section end -->


{% else %}

	<!-- Hero section -->
	<section class="hero-section">

		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					{% if messages %}
					{% for message in messages %}
						<div class='alert alert-{{message.tags}}'>
							{{ message }}
						</div>
					{% endfor %}
					{% endif %}
				</div>
				<div class="col-md-6 hero-text">
					<h3>Welcome to <span>EscrowLite</span> Trading Platform</h3>
					<h4>Our goal is to help you save more, with lesser transfer fees and exchange rates. Fast, reliable and efficient.</h4>
					{% comment %} <form class="hero-subscribe-from">
						<input type="text" placeholder="Enter your email">
					<button class="site-btn sb-gradients">Get Started</button>
					</form> {% endcomment %}
					<br>
					
					<a href="{% url 'account_signup' %}"><button class="site-btn sb-gradients">Get A Free Wallet Now</button></a>
					<br>
					<br>
					<p>Already have a wallet,  <a href="{% url 'account_login' %}"> Log Back In</a></p>

				</div>
				<div class="col-md-6">
					<img src="{% static 'core/img/laptop.png' %}" class="laptop-image" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Buy and sell section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-striped">
						<h3><b>Quick Buy</b></h3>
						<br>
						<thead>
							<tr>
								<th>Seller</th>
								<th>Payment Method</th>
								<th>Price / BTC</th>
								<th>Limits</th>
								<th>  </th>
							</tr>
						</thead>
							<tbody>
							{% for seller in sellers %}
							<tr>
								<td>
									{{ seller.name }}
									{% if seller.is_online == True %}
										<img src="https://img.icons8.com/color/12/000000/ok--v1.png"/>
									{% else %}
										<img src="https://img.icons8.com/material-two-tone/12/000000/ok.png"/>
									{% endif %}
								</td>
								<td>{{ seller.method }}: {{ seller.terms }}</td>
								<td>{{ seller.rate }} {{ seller.currency }}</td>
								<td>{{ seller.min_btc }} to {{ seller.max_btc }} BTC</td>
								<td><a href="{% url 'trade:seller_detail' seller.pk %}" ><button class="btn btn-secondary">Buy</button></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<br>
			<br>

			<br>

			<div class="row">
				<div class="col-lg-12">
					<table class="table table-striped">
						<h3><b>Quick Sell</b></h3>
						<br>
						<thead>
							<tr>
								<th>Buyer</th>
								<th>Payment Method</th>
								<th>Price / BTC</th>
								<th>Limits</th>
								<th>  </th>
							</tr>
						</thead>
						<tbody>
							{% for buyer in buyers %}
							<tr>
								<td>
									{{ buyer.name }}
									{% if buyer.is_online == True %}
										<img src="https://img.icons8.com/color/12/000000/ok--v1.png"/>
									{% else %}
										<img src="https://img.icons8.com/material-two-tone/12/000000/ok.png"/>
									{% endif %}
								</td>
								<td>{{ buyer.method }}: {{ buyer.terms }}</td>
								<td>{{ buyer.rate }} {{ buyer.currency }}</td>
								<td>{{ buyer.min_btc }} to {{ buyer.max_btc }} BTC</td>
								<td><a href="{% url 'trade:buyer_detail' buyer.pk %}" ><button class="btn btn-secondary">Sell</button></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>
	<!-- Buy and sell section  end-->

{% endif %}

	<!-- Features section -->
	<section class="features-section spad gradient-bg">
		<div class="container text-white">
			<div class="section-title text-center">
				<h2>Our Features</h2>
				<p>Bitcoin is the simplest way to exchange money at very low cost.</p>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4 feature">
					<i class="ti-shield"></i>
					<div class="feature-content">
						<h4>Safe & Secure</h4>
						<p>We have the most secure firewall restricting access of third parties to trades and keeping all our user information private. No hacker or malware is able to bridge our security protocols.</p>
						<a href="" class="readmore">Readmore</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 feature">
					<i class="ti-headphone-alt"></i>
					<div class="feature-content">
						<h4>Experts Support</h4>
						<p>Our customer care service is top notch with trained employees at your services through out the day. The support line is always active and in instance of any delay due to the investigation carried on your request, we reply in less than 24hours.</p>
						<a href="" class="readmore">Readmore</a>
					</div>
				</div>
				<!-- feature -->
				<div class="col-md-6 col-lg-4 feature">
					<i class="ti-reload"></i>
					<div class="feature-content">
						<h4>Instant Exchange</h4>
						<p>We deal with real time exhange rates and transactions are done in split seconds after payments are initialized.</p>
						<a href="" class="readmore">Readmore</a>
					</div>
				</div>
				<!-- feature -->
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->


	<!-- Process section -->
	<section class="process-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Get Started With EscrowLite</h2>
				<p>Buy, Sell, Withdraw and Store Bitcoin on one secure platform. It’s fun, easy, and takes only a few minutes! </p>
			</div>
			<div class="row">
				<div class="col-md-4 process">
					<div class="process-step">
						<figure class="process-icon">
							<img src="{% static 'core/img/process-icons/1.png' %}" alt="#">
						</figure>
						<h4>Fund Your Wallet</h4>
					</div>
				</div>
				<div class="col-md-4 process">
					<div class="process-step">
						<figure class="process-icon">
							<img src="{% static 'core/img/process-icons/2.png' %}" alt="#">
						</figure>
						<h4>Buy, Sell Or Store Funds</h4>
					</div>
				</div>
				<div class="col-md-4 process">
					<div class="process-step">
						<figure class="process-icon">
							<img src="{% static 'core/img/process-icons/3.png' %}" alt="#">
						</figure>
						<h4>Withdraw To Local Bank</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Process section end -->


	<!-- Fact section -->
	<section class="fact-section gradient-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="fact">
						<h2>60</h2>
						<p>Support <br> Countries</p>
						<i class="ti-basketball"></i>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="fact">
						<h2>12K</h2>
						<p>Transactions  <br> per hour</p>
						<i class="ti-panel"></i>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="fact">
						<h2>5B</h2>
						<p>Largest <br> Transactions</p>
						<i class="ti-stats-up"></i>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="fact">
						<h2>240</h2>
						<p>Years <br> of Experience</p>
						<i class="ti-user"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fact section end -->


	<!-- Review section -->
	<section class="review-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 push-8">
					<img src="{% static 'core/img/quote.png' %}" alt="" class="quote mb-5">
					<div class="review-text-slider owl-carousel">
						<div class="review-text">
							<p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you don’t have to be physically in the same place and, of course, for large transactions, currency can get pretty inconvenient.”</p>
						</div>
						<div class="review-text">
							<p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you don’t have to be physically in the same place and, of course, for large transactions, currency can get pretty inconvenient.”</p>
						</div>
						<div class="review-text">
							<p>"Bitcoin is exciting because it shows how cheap it can be. Bitcoin is better than currency in that you don’t have to be physically in the same place and, of course, for large transactions, currency can get pretty inconvenient.”</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 pr-0 pull-3">
					<div class="review-meta-slider owl-carousel pt-5">
						<div class="author-meta">
							<div class="author-avatar set-bg" data-setbg="{% static 'core/img/review/1.jpg' %}"></div>
							<div class="author-name">
								<h4>Aaron Ballance</h4>
								<p>Ceo Bitcoin</p>
							</div>
						</div>
						<div class="author-meta">
							<div class="author-avatar set-bg" data-setbg="{% static 'core/img/review/2.jpg' %}"></div>
							<div class="author-name">
								<h4>Jackson Nash</h4>
								<p>Head of Design</p>
							</div>
						</div>
						<div class="author-meta">
							<div class="author-avatar set-bg" data-setbg="{% static 'core/img/review/3.jpg' %}"></div>
							<div class="author-name">
								<h4>Katy Abrams</h4>
								<p>Product Manager</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Review section end -->

{% endblock content %}