{% extends "core/index.html" %}
{% load static %}
{% load notifications_tags %}

{% block info %}

<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_badge' %}


<div class="col-lg-12">
    <div class="jumbotron">
        <h3><b>Notifications</b></h3>
        <br>
        <hr>
        {% for each in data.unread %}
        <a href="{% url 'core:detail_notification' each.id %}"><div class="alert-dark row p-2" role="alert">
            <div class="col-lg-9">
                <h5><b>From {{ each.actor }}</b></h5>
                <p>{{ each.verb }}</p>
                <div class="col-lg-1">
                    <a href="{% url 'core:delete_notification' each.id %}">
                        <img src="https://img.icons8.com/doodle/20/000000/recycle-bin.png"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 text-right md-6">
                <p>{{ each.timesince }} ago</p>
            </div>
        </div></a>
        <br>
        {% endfor %}

        {% for each in data.read %}
        <a href="{% url 'core:detail_notification' each.id %}"><div class="alert-secondary row p-2" role="alert">
            <div class="col-lg-9">
                <h5><b>From {{ each.actor }}</b></h5>
                <p>{{ each.verb }}</p>
                <div class="col-lg-1">
                    <a href="{% url 'core:delete_notification' each.id %}">
                        <img src="https://img.icons8.com/doodle/20/000000/recycle-bin.png"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 text-right md-6">
                <p>{{ each.timesince }} ago</p>
            </div>
        </div></a>
        <br>
        {% endfor %}
    </div>

</div>


{% endblock info %}

