{% extends "core/index.html" %}
{% load static %}

{% block info %}

<script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("address");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Address copied!");
}
</script>


<div class="col-lg-8">

  <div class="container">
    <div class="jumbotron creditCardForm">
      <div class="container">
        <p class="text-center">
          <img src="{% static 'core/img/qrcode.jpg' %}" alt="">
        </p>
        
      </div>
    </div>
    <div class="bg-light jumbotron creditCardForm">
      <div class="heading" role="status">
        <h3><b>Receive Bitcoin</b></h3>
      </div>
      <br>
      <div class="form-row">
        <div class="input-group">
          <input type="text" class="form-control text-center" id="address" value="{{ address }}" aria-describedby="inputGroupPrepend" readonly="True">
          <div class="input-group-append">
            <span class="input-group-text" id="inputGroupAppend" onclick="myFunction()">Copy</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-lg-3">
  <div class="container">
      <div class="jumbotron bg-light text-center">
          <figure class="process-icon">
              <img src="{% static 'core/img/process-icons/1.png' %}" alt="#">
              <br>
              <br>
              <h3>{{ currency_balance }} <span>{{ currency }}</span></h3>
              <p><img src="https://img.icons8.com/color/30/000000/bitcoin--v1.png"> {{ balance }} BTC</p>
          </figure>
      </div>
  </div>
</div>

{% endblock info %}