{% extends "core/index.html" %}
{% load static %}

{% block info %}


<div class="col-lg-8">

  <div class="container">
    <div class="bg-light jumbotron creditCardForm">
      <div class="heading" role="status">
        <h3><b>Send Bitcoin</b></h3>
      </div>
      <br>
      <form method="POST" action="{% url 'core:send' %}">
        {% csrf_token %}
        <div class="form-row">
          <label for="Address">Bitcoin Address</label>
          <div class="input-group">
            {{ form.address }}
          </div>
        </div>
        <br>
        <div class="form-row">
          <label for="Amount">Amount To Send</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend"><img src="https://img.icons8.com/ultraviolet/20/000000/bitcoin.png"></span>
            </div>
            <input type="text" oninput="SendFunction()" class="form-control" id="Amount" placeholder="0.000000" aria-describedby="inputGroupPrepend" required>
            <div class="input-group-append">
              <span class="input-group-text" id="inputGroupAppend">BTC</span>
            </div>
          </div>
        </div>
        <br>
        <div class="form-row">
          <label for="output">Amount Deducted From Balance</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend"><img src="https://img.icons8.com/ultraviolet/20/000000/bitcoin.png"></span>
            </div>
            {{ form.amount }}
            <div class="input-group-append">
              <span class="input-group-text" id="inputGroupAppend">BTC</span>
            </div>
          </div>
        </div>
        <br>
        <p>1 BTC is {{ price }} {{ currency }}</p>
        <p>Total fees : 0.005</p>
        <br>
        <button class="site-btn sb-gradients" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="container">
      <div class="jumbotron bg-light text-center">
          <figure class="process-icon">
              <img src="{% static 'core/img/process-icons/1.png' %}" alt="#">
              <br>
              <br>
              <h3>{{ currency_balance }} <span>{{ currency }}</span></h3>
              <p><img src="https://img.icons8.com/color/30/000000/bitcoin--v1.png"> {{ balance }} BTC</p>
          </figure>
      </div>
  </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
{% comment %} <script>

$("#Amount").each(function () {
  var amount = $(this);

  // Save current value of element
  amount.data("oldVal", amount.val());

  // check for update
  amount.bind("propertychange change click keyup input", function(event) {
    // if value changed
    if (amount.data('oldVal') != amount.val()) {
      // Updated stored value
      amount.data('oldVal', amount.val());

      var result = parseFloat(amount.val()) + parseFloat(0.005);

      $("#id_amount").val(result)

    }
  });
});

</script> {% endcomment %}
<script>

function SendFunction() {
  var x = document.querySelector("#Amount").value;

  var result = parseFloat(x) + parseFloat(0.005);
  
  document.querySelector("#id_amount").value = result;
}

</script>

{% endblock info %}