{% extends "core/index.html" %}
{% load static %}

{% block info %}

<div class="col-lg-12">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <h3><b>Recent Transactions</b></h3>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Block Id</th>
                            <th>Url</th>
                            <th>Status</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    {% if record %}
                    {% for each in record %}
                    <tbody>
                        <tr>
                            <td>{{ each.created_at }}dfgd</td>
                            <td>{{ each.amount }}dfgdf</td>
                            <td>{{ each.transaction_id }}dgf</td>
                            <td>{{ each.transaction_url }}gdf</td>
                            <td>{{ each.status }}gdf</td>
                            <td>{{ each.transaction_type }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                    <tbody>
                        <p class="text-center"> No recent transaction </p>
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
        <br>
    </div>

</div>

{% endblock info %}