{% extends "core/index.html" %}
{% load static %}

{% block info %}


<div class="col-lg-8">

  <div class="container">
    <div class="bg-light jumbotron">
      <div class="heading" role="status">
        <h3><b>Withdraw Funds</b></h3>
      </div>
      <br>
      <form method="POST" action="{% url 'core:withdraw' %}">
        {% csrf_token %}
        <div class="form-row">
          <label for="Address">Choose bank to withdraw to</label>
          {{ form.user_accounts }}
        </div>
        <br>
        <div class="form-row">
          <label for="Amount">Amount</label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">{{ currency }}</span>
            {{ form.amount }}
          </div>
        </div>
        <br>
        <p>1 BTC is {{ price }} {{ currency }}</p>
        <p>Transaction fees ({{ currency }}) is 0.02%</p>
        <br>
        <label>Total Amount To Debit</label>
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">{{ currency }}</span>
          <input type="text" class="form-control" id="output" placeholder="0.000000" aria-describedby="inputGroupPrepend" readonly="True">
        </div>
        <br>
        <button class="site-btn sb-gradients" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="container">
      <div class="jumbotron bg-light text-center">
          <figure class="process-icon">
              <img src="{% static 'core/img/process-icons/1.png' %}" alt="#">
              <br>
              <br>
              <h3>{{ currency_balance }} <span>{{ currency }}</span></h3>
              <p><img src="https://img.icons8.com/color/30/000000/bitcoin--v1.png"> {{ balance }} BTC</p>
          </figure>
      </div>
  </div>
</div>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
<script>

{% comment %} $("#id_amount").each(function () {
  var amount = $(this);

  // Save current value of element
  amount.data("oldVal", amount.val());

  // check for update
  amount.bind("propertychange change click keyup input", function(event) {
    // if value changed
    if (amount.data('oldVal') != amount.val()) {
      // Updated stored value
      amount.data('oldVal', amount.val());

      var result = amount.val() * 1.02;

      $("#output").val(result)

    }
  });
}); {% endcomment %}

function DebitFunction() {
  var amount = document.querySelector("#id_amount").value;

  var result = amount * 1.02;

  document.querySelector("#output").value = result;
}

</script>

{% endblock info %}